@charset "utf-8";
/* CSS Document */


/* General Settings */

html,
html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
	width: 100%;
	top: 0;
	padding: 1.5em;
	position: fixed;
	z-index: 1000;
}

.site-logo {
	position: relative;
	display: block;
	float: left;
	width: 6em;
}

nav {
	padding-top: 2em;
	position: relative;
	float: right;
	z-index: 400;
	top: 0;
	left: 0;
	display: block;
}

nav ul {
	list-style-type: none;
	margin: 0;
	text-align: right;
}

nav ul li {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 1.5em;
}

nav ul li a {
	font-size: 1em;
	padding-top: 2em;
	padding-bottom: .5em;
	text-decoration: none;
	letter-spacing: .15em;
	text-transform: uppercase;
	color: #66CCFF;
	transition: color .3s;
}

footer {
	padding-bottom: 11em;
	background: gray;
	color: orangered;
}

.footer-credit {
	padding-top: 100px;
	padding-right: 25px;
	float: right;
}

.footer-tools {
	padding-top: 100px;
	padding-left: 25px;
	float: left;
}

/* Homepage Settings */

.Homepage-main {
	position: relative;
	height: auto;
	background-image: linear-gradient(to left, white 0%, #66ccff 100%);
}

.Homepage-title1 {
	color: #000000;
	padding: 3.5em 1em 3.5em 1em;
	font-size: 7em;
	letter-spacing: 0.3em;
	text-align: center;
}

.Homepage-title2 {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; 
	color: crimson;
	padding: 5em 1em 4em 1em;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	text-align: center;
}

.Homepage-menu {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color:orangered;
	padding: 6em 1em 3em 1em;
	text-align: center;
}


/* Menupage Settings */

	/* Banner Settings */
.Menu-banner {
	background-color: #B3B3B3;
	padding-top: 6em;
	padding-bottom: 6em;
}

.banner-Pt1 {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}

.banner-Pt2 {
	font-weight: bold;
	color: #000000;
}


	/* Q&A Settings */
.Q_A {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
}

.text_column {
	width: 48%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #66CCFF;
}

.Question {
	color: crimson;
}


	/* Links Settings */
.links {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #B3B3B3;
	padding-bottom: 55px;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 55px;
	margin-bottom: 0px;
}

.block {
	width: 20%;
	text-align: center;
	float: left;
	margin-top: 35px;
	font-size: 11px;
}

.Site_name {
	color: crimson;
	margin-bottom: 5px;
}

.links .block h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #66CCFF;
	text-transform: uppercase;
}

.links .block p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 15px;
}


	/* Parallax Settings */
.banner {
	background-color: #2D9AB7;
	background-image: url("images/parallax.png");
	height: 300px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 75px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 26px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 20px;
}


	/* Column Settings */
.banner-column {
	display: inline-block;
	width: 100%;
}

.column {
	width: 100%;
	text-align: center;
	padding-top: 30px;
	float: center;
}
	
.column h3 {
	color: #000000;
	text-align: center;
}

.cards {
	width: 100%;
	height: auto;
	max-width: 1000px;
	max-height: 800px;
}
